# FriendsCount - Environment Variables - Variables de entorno
# ==================================================================
# Copy this file and rename as .env configuring your env variable
# Copia este archivo como .env y configura tus variables de entorno

# ==================================================================
# Mobile (Development)
# ==================================================================
EXPO_ROUTER_APP_ROOT=mobile/app
EXPO_ROUTER_IMPORT_MODE=sync

# ==================================================================
# Server
# ==================================================================
PORT=3001
GUN_RELAY_HOST=192.168.0.42
NODE_ENV=development